NODE_ENV=

LOG_LEVEL=

HTTP_HOST=
HTTP_PORT=
HTTP_CORS=

COOKIES_SECRET=
COOKIES_DOMAIN=

RMQ_URL=
RMQ_QUEUE=

AUTH_GRPC_URL=
USER_GRPC_URL=
BALANCE_GRPC_URL=
ODDS_GRPC_URL=
BETTING_GRPC_URL=
BONUS_GRPC_URL=